.profile__edit-button {
  width: 24px;
  height: 24px;
  background: transparent url('../../../images/edit-icon.svg') center no-repeat;
  background-size: 10px 10px;
  border: 1px solid #fff;
  grid-area: button;
  align-self: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  margin: 0;
}

.profile__image-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  background: url('../../../images/edit-icon.svg') no-repeat center;
  background-size: contain;
  border: none;
  padding: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  z-index: 1;
}

.profile__image::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%;
  pointer-events: none;
}
.profile__image:hover::before {
  opacity: 1;
}

.profile__image:hover .profile__image-edit {
  opacity: 1;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 480px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: 8px 8px;
  }
}
